:root{
    --RedC:hsl(14, 86%, 42%);
    --GreenC: hsl(159, 69%, 38%);
    --RoseC50: hsl(20, 50%, 98%);
    --RoseC100: hsl(13, 31%, 94%);
    --RoseC300: hsl(14, 25%, 72%);
    --RoseC400: hsl(7, 20%, 60%);
    --RoseC500: hsl(12, 20%, 44%);
    --RoseC900: hsl(14, 65%, 9%);
    --ProductFont:1rem;

    --Lightweight:400;
    --Mediumweight:600;
    --Boldweight:700;
}

.red-hat-text-400 {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red-hat-text-600 {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.red-hat-text-700 {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.desserts{
    width: 60%;
    margin-left: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cart{
    margin-top: 30px;
    box-shadow: 10px 10px 60px var(--RoseC300);
    background-color: var(--RoseC50);
    width: 30%;
    border-radius: 20px;
    height: fit-content;
}

.cartContent{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartContent img {
    max-width: 100%;
}
.your-cart{
    color: var(--RedC);
}

.thumbnail_card{
    border-radius: 5px;
    width: 280px;

}

.thumbnail_btn{
    display: flex;
    background-color:white;
    padding: .5em 1em;
    width: fit-content;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    position: absolute;
    bottom: 17%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.8);
}
.thumbnail_btn:hover{
    background-color: var(--RoseC100);
    cursor: pointer;
}

.cart-item-hr{
    border-color: var(--RoseC500);
    background-color: var(--RoseC500);
    opacity: 20%;
}

.items{
    margin: .6em 0;
    flex-grow: 1;
    position: relative;
}
.items .Type{
    font-size: 13px;
    color: var(--RoseC300);
    margin: 1em 0px .3em 0px;
}
.items .Title{
    font-weight: var(--Boldweight);
    font-size: var(--ProductFont);
    margin: 0em 0px .1em 0px;
}
.items .price{
    color: var(--RedC);
    font-size: 18px;
    font-weight: var(--Boldweight);
}

.cart-item{
    padding: .6em .2em;
    margin: 0 .4em;
    position: relative;
    flex-grow: 1;
    width: 420px;
}
.remove-item{
    border: none;
    position: absolute;
    right: 0;
    border-radius: 5px;
}
.remove-item:hover{
    cursor: pointer;
}

.order-total{
    display: flex;
    justify-content: space-between;
    font-weight: var(--Boldweight);
    font-size:1.1rem;
    width: 420px;
}
.order-total-text{
    color: var(--RoseC400);
    font-weight: var(--Lightweight);
    font-size: 15px;
}
.order{
    font-weight: var(--Lightweight);
    color: var(--RoseC500);
}
.order-confirm{
    display: flex;
    flex-direction: column;
}
.carbon{
    margin:1.5em 0;
    padding:.5em 1.5em ;
    font-size: 10px;
    background-color: var(--RoseC100);
    text-align: center;
}
.confirm-btn{
    background-color: var(--RedC);
    color: var(--RoseC100);
    padding: 1em;
    border-radius: 15px;
    text-align: center;
}
.confirm-btn:hover{
    cursor: pointer;
    background-color: hsl(14, 86%, 32%);
}
.hover-after{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.icons{
    border: 1px solid white;
    padding: .2em;
    border-radius: 15px;
}
.hover-after img{
    margin: 0em 2em;
}

.item-details{
    display:flex;
    flex-direction: row;
}
.item-details{
    background-color: var(--RoseC100);

}

.item-details {

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}









